.comments-modal-container {
    padding: 20px;
    border: 5px solid red;
    width: 900px;
    height: 900px;
    background: white;
}
#recommend-button {
    display: none;   
}
#thread-share-bar {
    display: none;
}
.thread-share-bar-buttons {
    display: none;
}