.info-collapsed .info-open {
    /* margin-top: 50px; */
}
.info-full {
    display: none;
}
.info-headers {
    font-style: bold;
    color: darkred;
    font-size: 20px;
}
.hidden {
    display: none;
}
.title-show {
    display: inline;
}