.all-container {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.image-container {
    display: block;
    width: 95%;
    float: left;
    /* margin-bottom: 1.45rem; */
}
.info-container {
    position: relative;
    float: right;
    width: 70%;
    bottom: 525px;
    right: 5%;
    text-align: right;
}
.info-item {

}
.info-item-header {
    font: red;

}
.info-item-full {
    background: grey;
}