.all-container {
    width: 100%;
    margin: auto;
}
.image-container {
    /* position: relative; */
    display: inline-block;
    width: 70%;
    /* float: left; */
    /* margin-bottom: 1.45rem; */
}
.info-container {
    /* position: relative; */
    margin-top: 60px;
    display: inline-block;
    width: 30%;
    /* margin-left: 10px; */
    float: right;
}
.info-headers {
    font-style: bold;
    color: darkred;
    font-size: 20px;
}